{% extends 'header/base.html' %}
{% load static %}

{% block title %}課題更新{% endblock %}

{% block content-area %}
<h1 class="p-3">課題更新</h1>
<div class="px-5" id="app">
    <div class="container">
        <button type="button" class="btn btn-outline-success" v-on:click="switchMode">
            <i class="bi bi-pencil-square mr-1" style="font-size:20px"></i>編集
        </button>
        <div v-if="mode">
            <div class="mt-3">
                <div class="mb-2">期限：{{ header.limit_date }}</div>
                <span style="background: {{header.type_cls.color}}; padding:3px; 10px; margin-right:1rem">{{ header.type_cls.name }}</span>
                <span>{{ header.title }}</span>



                <div class="details-area">
                    <h5>コメント([[ details.length ]])</h5>
                    <div v-for="item in details" class="detail">
                        <div class="detail-date">[[ item.fields.create_at ]]</div>
                        <div class="detail-content">[[ item.fields.content ]]</div>
                    </div>
                </div>

            </div>

            <div v-bind:class="{'detail-add-open': dispAddFlg, 'detail-add-close': !dispAddFlg}" id="detail-add-input">
                <button type="button" class="btn btn-outline-dark" v-on:click="switchAdd">
                    <i class="bi bi-plus mr-1" style="font-size:20px"></i>コメント追加
                </button>
                <div class="row">
                    <div class="col-md-10">
                        <textarea class="comment" v-model="addContent">
                        </textarea>
                    </div>
                    <div class="col-md-2">
                        <div class="pr-3 mb-3">
                            <select name="status" id="id_status" class="form-control" v-model="status">
                            {% for item in header.STATUS_CHOICES %}
                                <option value="{{ item.0}}">{{ item.1 }} </option>
                            {% endfor %}
                        </select>
                        </div>
                        <button type="submit" class="btn btn-outline-info" v-on:click="updateComment">
                        <i class="bi bi-plus mr-1" style="font-size:20px"></i>更新
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" v-if="!mode">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <label class="col-lg-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-lg-8">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <a type="button" class="btn btn-outline-dark" href="{% url 'header:list' %}"><i
                    class="bi bi-arrow-left mr-1"
                    style="font-size:20px"></i>戻る</a>
            <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-plus mr-1" style="font-size:20px"></i>更新
            </button>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    headerId: {{ header.pk }},
    status: {{ header.status }},
    details: [],
    addContent: '',
    mode: true,
    dispAddFlg: false,
  },
  methods: {
    switchMode: function() {
        this.mode = !this.mode
    },
    switchAdd: function() {
        this.dispAddFlg = !this.dispAddFlg
    },
    updateComment: function() {
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        axios
            .post("{% url 'header:updateComment' %}",
                {headerId: this.headerId, addContent: this.addContent, status: this.status})
            .then(res => {
                this.details = res.data;
                this.addContent;
            })
    }
  },
  created: function() {

/* XMLHttpRequestを使った場合の実装
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(){
					if(xhr.readyState === 4) {
						if (xhr.status === 200) {
						    console.log('OK')
						}
					} else {

					}
				}.bind(this);
				xhr.open('GET', "{% url 'header:getDetailList' header.pk %}", true);
				xhr.send(null);
*/

                axios
                    .get("{% url 'header:getDetailList' header.pk %}")
                    .then(res => {
                        console.log(res.data);
                        this.details = res.data
                    })

			},
})

</script>
{% endblock %}