#container {
    position: relative;
}

#side-menu {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 10;
}

.side-menu-open {
    left: 0;
    top:0;
    transition: .5s;
}

.side-menu-close {
    left: -140px;
    top:0;
    transition: .5s;
}

#menu-btn:hover {
    opacity: 0.3;
}

#menu-list {
    margin-top: 50px;
}

.menu-list-hiden {
    display:none;
}

.menu-item {
    padding: 10px 0px
}

.menu-item-close {
    text-align:right;
}

.menu-icon {

}

.menu-text {
    padding-left:0.8rem
}

.menu-text-close {
    display: none;
}

#content {
    position: relative;
    left:60px;
    width:calc(100vw - 60px);
}

.details-area {
    margin-top: 100px;
}

.detail {
    width: 100%;
    border: 1px solid #ccc;
}

.detail-date {
    padding: 5px 20px 20px 10px;
    color: #aaa;
}

.detail-content {
    padding: 10px 70px 50px 120px;
}

#detail-add {
    position: relative;
    z-index: 9;
}

#detail-add-input {
    position: fixed;
    z-index: 9;
    width: 85%;
    border: 1px solid #ccc;
    height:300px;
    background: #f0f8ff;
}

.detail-add-open {
    left: 250px;
    bottom: 10px;
    transition: .5s;
}

.detail-add-close {
    left: 250px;
    bottom: -257px;
    transition: .5s;
}

.comment {
    margin-top: 5px;
    margin-left:5px;
    height: 250px;
    width: 95%
}