#container {
    position: relative;
}

#side-menu {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
}

.side-menu-open {
    left: 0;
    top:0;
    transition: .5s;
}

.side-menu-close {
    left: -140px;
    top:0;
    transition: .5s;
}

#menu-btn:hover {
    opacity: 0.3;
}

#menu-list {
    margin-top: 50px;
}

.menu-list-hiden {
    display:none;
}

.menu-item {
    padding: 10px 0px
}

.menu-item-close {
    text-align:right;
}

.menu-icon {

}

.menu-text {
    padding-left:0.8rem
}

.menu-text-close {
    display: none;
}

#content {
    position: relative;
    left:60px;
    width:calc(100vw - 60px);
}