{% extends 'base.html' %}
{% load static %}

{% block title %}課題一覧{% endblock %}

{% block content-area %}
<h1 class="p-3">課題一覧</h1>
<div class="px-5">
    <button type="button" class="btn btn-outline-dark"><i class="bi bi-plus mr-1" style="font-size:20px"></i>追加</button>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ステータス</th>
            <th scope="col">種別</th>
            <th scope="col">タイトル</th>
            <th scope="col">期限</th>
        </tr>
        </thead>
        <tbody>
        {% for item in header_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.get_status_display }}</td>
            <td>{{item.get_type_cls_display }}</td>
            <td>{{item.title}}</td>
            <td>{{item.limit_date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}